
p.tnr{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

h1{
    color: blue;
    text-transform: capitalize;
}

#especial{
    letter-spacing: 3px;
    word-spacing: 8px;
    text-indent: 10px;
}

h3.h3esp{
    text-align: right;
    width: 30%;
}

p.pesp{
    text-align: justify;
    width: 500px;
    background-color: yellow;
}